# Ignore node_modules directory
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Debugger
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Ignore build or compiled output
dist/
build/

# Ignore test coverage reports
coverage/

# Ignore lock files
package-lock.json
yarn.lock
